<p id="notice"><%= notice %></p>

<h1>Data Forms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_forms.each do |data_form| %>
      <tr>
        <td><%= link_to 'Show', data_form %></td>
        <td><%= link_to 'Edit', edit_data_form_path(data_form) %></td>
        <td><%= link_to 'Destroy', data_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Form', new_data_form_path %>
